#section1{
    background:url("http://www.britainexpress.com/images/attractions/editor3/Pembroke-Castle-0714.jpg");
}

#section2{
    background:url("https://thumbnails.trvl-media.com/OoRZNnZ_4ifUMi5N2AU1W-i4Drg=/a.travel-assets.com/mediavault.le/media/e47bb3c48bd40aba149962b2f5e304f400e090fe.jpeg");
}

#section3{
    background:url("https://sites.google.com/site/runninginireland/_/rsrc/1498253525581/notice-crookstown-utd-fc-5k---wed-19th-july-2017/Crookstown-Utd-FC-Entrance.jpg");
}

.section{
    text-align: center;
    color: white;
}