#section1{
    background:url("http://sportlomo-userupload.s3.amazonaws.com/user_data/modules/galleries/9225/image_EsP5bEZNDb6epgJSQUtWSnsK.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#section2{
    background:url("http://sportlomo-userupload.s3.amazonaws.com/uploaded/galleries/9225_uploaded/indoor_sports_hall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#section3{
    background:url("http://www.macroom.ie/images/V14E26Web/Pic%2082.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#section4{
    background:url("https://pbs.twimg.com/profile_images/3726687410/ebd68ac9ac3dd36a57a427941157daee_400x400.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}


.section{
    text-align: center;
    color: white;
    font-size: 200%;
}